@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.divForm{
  position: absolute;/*绝对定位*/
  width: 500px;
  height: 200px;

  border: 1px solid red;
  text-align: center;/*(让div中的内容居中)*/
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
}


